#header {
	height: 10rem;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #8d7569;
	position: relative;

	button {
		height: 100%;
		background-color: unset;
	}

	.back-button {
		position: absolute;
		left: 0;
	}

	.header-side-menubar-button {
		position: absolute;
		right: 0;
		height: 100%;
		background-color: unset;
		.header-side-menubar-img {
			height: 2rem;
			width: 2rem;
		}
	}
}
