#header {
	height: 10rem;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #8d7569;
	position: relative;

	button {
		position: absolute;
		left: 0;
		height: 100%;
		background-color: unset;
	}
}
