#header {
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #8d7569;
	position: relative;

	h1 {
		font-size: 2.5rem;
	}

	button {
		height: 100%;
		background-color: unset;
	}

	.back-button {
		position: absolute;
		right: 0;
	}

	.header-side-menubar-button {
		position: absolute;
		left: 0;
		height: 100%;
		background-color: unset;
		.header-side-menubar-img {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}
