#side-menu {
	position: absolute;
	height: calc(100% - 7rem);
	width: 40vw;
	background-color: grey;
	left: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;

	button {
		background-color: unset;
	}
}
